.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
}

.rodapePrincipal-navMap-list .container {
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .rodapePrincipal-navMap-list {
        flex-direction: column;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    
    .rodapePrincipal-patrocinadores-list {
        margin: 0%;
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}